:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

div.entry {
  border: 2px solid #1976d2;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 6px;
}

svg.heart {
  fill: red;
}
